
*{
  font-family: sans-serif;
}

    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }

      .row.content {
        height: auto;
      }
    }

    h4 {
      font-weight: bold;
    }
    li{
      margin-top: 0.10em;
    }

    .btn-default {
    
      font-weight: bold;
      font-size: 15px;
    }

    .col-sm-8 {
      line-height: 3px;
      border-width: medium;
      border-style: solid;
      border-color:#ccc;
    }
    .col-sm-3 {
      line-height: 8.5px;
      border-width: medium;
      border-style: solid;
      border-color:#ccc;
      background-color: #ccc;

    }

    .col-sm-9 {
      padding: 15px;
    }

    footer {
      background-color: #555;
      color: white;
      width: 100%;
      padding: 15px;
    }


    @media screen and (max-width: 767px) {
      #logo {
        width: 100%;
        height: auto;
    }

  }
.container{
  margin-top: 0.15em;
}
header{
  padding-top: 02em;
}